# Backend Environment - Example
# À customiser pour chaque environnement
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/iot_db
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=habib
SPRING_JPA_HIBERNATE_DDL_AUTO=update
